Repository OpenMined/SyferText, pull requests merged in 2020-09, with the labels that each got.

#163 Merge master in 0.1.0
  .all-contributorsrc
  .github/workflows/main.yml
  .github/workflows/publish.yml
  CONTRIBUTORS.md
  LICENSE
  README.md
  setup.cfg
  setup.py
  syfertext/attrs.py
  syfertext/doc.py
  syfertext/language.py
  syfertext/language_model.py
  syfertext/lex_attrs.py
  syfertext/lexeme.py
  syfertext/local_pipeline.py
  syfertext/pipeline/pointers/subpipeline_pointer.py
  syfertext/pipeline/simple_tagger.py
  syfertext/pipeline/subpipeline.py
  syfertext/pointers/doc_pointer.py
  syfertext/pointers/language_model_pointer.py
  syfertext/pointers/span_pointer.py
  syfertext/pointers/state_pointer.py
  syfertext/span.py
  syfertext/state.py
  syfertext/stop_words.py
  syfertext/test_vocab.py
  syfertext/token.py
  syfertext/tokenizer.py
  syfertext/utils.py
  syfertext/vectors.py
  syfertext/vocab.py
  tests/distributed_mode/test_pipeline.py
  tests/local_mode/test_doc.py
  tests/local_mode/test_language.py
  tests/local_mode/test_lexeme.py
  tests/local_mode/test_simple_tagger.py
  tests/local_mode/test_span.py
  tests/local_mode/test_store.py
  tests/local_mode/test_token.py
  tests/local_mode/test_token_attributes.py
  tutorials/Part 0 - (Getting Started) Local Tokenization.ipynb
  tutorials/Part 1 - (Getting Started) Remote Tokenization.ipynb
  tutorials/Part 2 - (Getting Started) Using SimpleTagger.ipynb
  tutorials/usecases/UC01 - Sentiment Classifier - Private Datasets - (Secure Training).ipynb
Labels: Priority: 1 - Immediate :fire:, Severity: 2 - High :cold_sweat:, Status: Review Needed :raising_hand:, Type: Epic :call_me_hand:, syfertext 0.1.0

#164 Documentation Added
  .readthedocs.yml
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/syfertext.pipeline.pointers.rst
  docs/source/syfertext.pipeline.rst
  docs/source/syfertext.pointers.rst
  docs/source/syfertext.rst
  syfertext/tokenizer.py
Labels: Priority: 2 - High :cold_sweat:, Severity: 4 - Low :sunglasses:, Status: Completed :heavy_check_mark:, Type: Documentation :books:, Type: Epic :call_me_hand:, Type: New Feature :heavy_plus_sign:, syfertext 0.1.0

#168 Support for adding a single label classifier to a pipeline
  syfertext/__init__.py
  syfertext/doc.py
  syfertext/language.py
  syfertext/local_pipeline.py
  syfertext/pipeline/__init__.py
  syfertext/pipeline/average_doc_encoder.py
  syfertext/pipeline/pipeline.py
  syfertext/pipeline/pointers/__init__.py
  syfertext/pipeline/pointers/pipeline_pointer.py
  syfertext/pipeline/simple_tagger.py
  syfertext/pipeline/single_label_classifier.py
  syfertext/pipeline/subpipeline.py
  syfertext/pointers/__init__.py
  syfertext/tokenizer.py
  syfertext/utils.py
  syfertext/vectors.py
  syfertext/vocab.py
  tests/local_mode/test_lexeme.py
  tests/local_mode/test_token_attributes.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Status: Completed :heavy_check_mark:, syfertext 0.1.0

#178 Fixed pipeline parsing and implemented SubPipeline reuse
  syfertext/__init__.py
  syfertext/language.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Type: Improvement :chart_with_upwards_trend:, syfertext 0.1.0

#180 Implemented remote inference for SingleLabelClassifier
  syfertext/__init__.py
  syfertext/doc.py
  syfertext/language.py
  syfertext/pipeline/pointers/subpipeline_pointer.py
  syfertext/pipeline/subpipeline.py
  syfertext/pointers/doc_pointer.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Type: New Feature :heavy_plus_sign:, syfertext 0.1.0

#181 Fixed tokenization bug
  syfertext/tokenizer.py
  tutorials/Part 0 - (Getting Started) Local Tokenization.ipynb
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Type: Bug :bug:, syfertext 0.1.0

#172 Grid update
  setup.py
  syfertext/doc.py
  syfertext/language.py
  syfertext/pipeline/pointers/pipeline_pointer.py
  syfertext/pipeline/single_label_classifier.py
  syfertext/pointers/doc_pointer.py
  tutorials/Part 0 - (Getting Started) Local Tokenization.ipynb
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Status: Review Needed :raising_hand:, Type: Improvement :chart_with_upwards_trend:, syfertext 0.1.0

#185 Register state and pipeline from remote worker
  syfertext/pipeline/pointers/pipeline_pointer.py
  syfertext/pointers/state_pointer.py
Labels: Priority: 1 - Immediate :fire:, Severity: 1 - Critical :fire:, Type: Bug :bug:, syfertext 0.1.0
